{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Профиль {{user.last_name}} {{user.first_name}}
{% endblock %}


{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.first_name }}</h2>
          <h2 class="account-heading">{{ user.last_name }}</h2>
          <p class="text-secondary">{{ user.profile.phone_number }}</p>
          <p class="text-secondary">{{ user.profile.compulsory_health_insurance_policy_number }}</p>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Инфо профиля</legend>
            {{u_form|crispy}}
            {{p_form|crispy}}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Изменить</button>
        </div>
    </form>
    </div>
{% endblock content %}