{% extends 'home/base.html'%}
{% load crispy_forms_tags %}

{% block title %}
Запись на прием
{% endblock %}


{% block content %}

<h1>Записаться на прием</h1>
    <form method="post" id="appointmentForm" data-time-url={%url "ajax_appointment"%}>
        {%csrf_token%}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"></legend>
            {{form | crispy}}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Записаться</button>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_doctor").change(function () {
        const url = $("#appointmentForm").attr("data-time-url");
        const doctorId = $(this).val();  

        $.ajax({                      
            url: url,                  
            data: {
                'doctor_id': doctorId 
            },
            success: function (response) { 
                $("#id_appointment_date").html(response);
            }
        });

    });
</script>
{% endblock %}